* {
  box-sizing: border-box;
}

header {
  background-color: #562b81;
  color: white;
  border: 1px solid #562b81;
}

label,
input,
img,
textarea {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
}

label {
  font-weight: bold;
  margin-bottom: 1rem;
}

input {
  margin-bottom: 2.5rem;
  height: 2rem;
  background-color: white;
}

input,
textarea {
  border: 0.5px solid black;
}

textarea {
  text-align: left;
}

button {
  color: white;
  background-color: #562b81;
  text-transform: uppercase;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.4rem;
}

input:focus,
textarea:focus {
  border: 3px solid #562b81;
  outline: none;
}

button:focus {
  border: 1px solid #562b81;
}

#notes {
  height: 10rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
